# Utils bat file
run-codium.bat

# Node modules
node_modules/
pnpm-lock.yaml

# Distribution (build) folder
dist/
output/

# Any .class file (if any Java/JVM exists in your project, like through other projects and functionalities unrelated to your bundled typescript RPG engine we're building together)
*.class

# Package-lock file for npm versions earlier than 5
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test specific folder/files
test/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS or Editor specific files
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/
*.code-workspace

# Optional: env files with local, development, private variables that shouldn't be publicly included in repositories.
.env

# Other potential files and directories from tools we don't have but can still exist from unrelated usages on the user's part:
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.nyc_output
coverage
.webpack/

# pkg specific:
dist/pkg-output.exe
output/pkg-output.exe
